{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="{% static 'css/boostrap.min.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

{% include 'header.html' %}

<div class="container" style="margin-top:10px">
    <div class="card">
        <div class="card-header" style="text-align:center;">
            <h5>Application Form</h5>
        </div>
        <div class="card-body">
            {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for msg in messages %}
                {{msg}}
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data" id="DataForm" data-branch-url="{% url 'ajax_load_branch' %}">
            {% csrf_token %}
                <table style="align:center;">
                {{ form.as_table }}
                </table>
                <input type="submit" value="Submit">
            </form>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script>
            $("#id_dist").change(function () {
            const url = $("#DataForm").attr("data-branch-url");  // get the url of the `load_cities` view
            const distId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'dist_id': distId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_branch").html(data);  // replace the contents of the city input with the data that came from the server

            }
            });
            });
            </script>
            <script>
            $(function() {
            $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "1900:2012",
              // You can put more options here.

              });
            });
            </script>
        </div>
        <div class=" card text-center btn btn-primary" style="text-color:white;">
        <a href="{% url 'home' %}"> Go to Home  </a>
        </div>
    </div>
</div>
{% include 'footer.html' %}

</body>
</html>